<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <!-- определение целей -->
    <targets>
        <!-- цель для вывода в консоль -->
        <target xsi:type="Console" name="console"
                layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}|${message}" />

        <target xsi:type="BufferingWrapper" name="logstash">
            <target xsi:type="Network" address="tcp://192.168.0.105:5000"
                    layout="${date:format=iso8601}|${level:uppercase=true}|${logger}|${message}" />
        </target>
    </targets>

    <!-- правила для отправки логов на определенные цели -->
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console,logstash" />
    </rules>
</nlog>